<%# <h1>StatisPages#home</h1>
<p>Find me in app/views/statis_pages/home.html.erb</p>
 %>

<div class="center jumbotron">
  <h1>Home</h1>
  <h2>Selamat datang dihalaman home</h2>
  <%= link_to "Sign in now !", '#', class: 'btn btn-primary' %>
</div>

<div class="container">
  <%= link_to image_tag('rails.svg', alt: 'logo', width: 200), "#" %>
  </div>