<footer class="footer container">
  <small>
    <a href="https://github.com/rails/rails">Ruby On Rails</a> oleh Nur Ahmadi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/rails/rails">News</a></li>
    </ul>
  </nav>  
</footer>